body {
  font-family: Tahoma, Helvetica, sans-serif;
  background:#bbb;
  font-size: 1.0em;
  padding: 0.5em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items:normal;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  display:inline-block;
}

.spacer {
  display:none;
  background: none;
  padding: 1em
}

.link {
  text-align: center;
  font-weight: bold;
}

p {
  border: 1px solid #000;
  padding: 0.5em;
  border-style: solid none;
  background: lightgrey;
  margin: 0
}

div.smb p {
  background: #fafad5
}

div.riv p {
  display:none;
  background: #d9f0d9
}
/*
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: dodgerblue;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
  */